xml/tryouts/order/customer.xsd

<!-- All types defined in this schema file have no namespace since
we don't have targetNamespace or xmlns(default namespace) defined. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="CustomerType">
        <xs:sequence>
            <xs:element name="name" type="CustNameType" />
            <xs:element name="number" type="xs:integer" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CustNameType">
        <xs:restriction base="xs:string" />
    </xs:simpleType>
</xs:schema>
